body {
  padding: 0 20px 20px;
  font-size: 18px;
}

.header {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  font-weight: bold;
  color: #15bbb9;
}

.icon-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: stretch;
  align-items: stretch;
  margin: 0;
  padding: 0 0 50px 0;
  list-style: none;
  padding: 0 0 10px;
  margin-top: 20px;
}

.icon-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s all ease-in;
  padding: 10px;
}

.icon-item:hover {
  background-color: #eee;
}

.icon-item_name {
  margin-left: 10px;
  color: #333;
}

.copy-text {
  font-size: 12px;
  color: #356dff;
  margin-left: 6px;
}

.code {
  padding: 15px 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-bottom: 15px;
}

.picker {
  font-size: 14px;
  margin-top: 15px;
}

.picker input {
  margin-left: 4px;
}

.link {
  font-size: 16px;
}
